.pupile {
  background-color: #000;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.eye {
  background-color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: grid;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
  height: 350px;
  margin-top: 100px;
  overflow: hidden;
  place-items: center;
  width: 350px;
  animation: blink;
}

.eye:active {
  animation: veins 2s;
}

.eyes-wrapper {
  column-gap: 10px;
  display: flex;
}

@keyframes blink {
  0% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.6);
  }
}
@keyframes veins {
  0% {
    background-image: url("../../src/svg/veins.svg");
  }
  50% {
    background-image: url("../../src/svg/veins.svg");
  }
  100% {
    background-image: url("../../src/svg/veins.svg");
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  background: linear-gradient(0deg, rgb(1, 79, 134) 0%, rgb(1, 58, 99) 100%);
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  border: 1px solid rgb(1, 79, 134);
}

h1, h2, h3, h4 {
  font-family: "Courgette", cursive;
}

h1 {
  font-size: 6rem;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
}

h2 {
  font-size: 3.75rem;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

p, a {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.projects-description {
  font-size: 30px;
  margin-bottom: 50px;
}

/*Form*/
.button-submit {
  background-color: #2a6f97;
  border-radius: 13px;
  color: white;
  padding: 15px 33px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  border: none;
}

.button-submit:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #000;
}

/*All Navigation*/
.nav-link {
  background-color: #2a6f97;
  border-radius: 13px;
  color: white;
  padding: 15px 33px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  border: none;
}

.nav-link:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #000;
}

.link-eyes::before {
  background-image: url("../../src/svg/micro-eyes.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 75px;
  left: 50%;
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out, 0.3s ease-in-out;
  width: 75px;
  z-index: -1;
}

.link-eyes:hover::before {
  top: -70%;
  opacity: 1;
}

.link-eye-right {
  width: 100px;
}

.link-eye-right::before {
  background-image: url("../../src/svg/righ-eye.svg");
}

.link-eye-right:hover::before {
  top: -170%;
  opacity: 1;
}

.nav-principal {
  margin-top: 20px;
}

.nav-principal ul {
  margin-top: -10px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-principal li {
  list-style: none;
}

.footer {
  text-align: center;
  color: #fff;
  padding-top: 150px;
}

.footer p {
  font-size: 30px;
}

.hand-up {
  position: fixed;
  bottom: 20px;
  right: -10px;
  transition: all 0.6s ease-in-out;
}

.hand-up:hover {
  transform: rotate(0.1turn);
}

.social-media-overlay {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  background-color: #fff;
  border-radius: 0.2px;
  padding: 7px;
  opacity: 0;
  font-size: 18px;
  pointer-events: none;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.social-media-overlay:hover .overlay-text {
  opacity: 1;
  bottom: 0;
}

.copyright {
  padding-top: 150px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-principal {
  width: 350px;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
}

.logo-principal:hover {
  transform: scaleX(0.98);
  transition: all 0.3s ease;
}

.project-item {
  position: relative;
}

.project-item {
  position: relative;
}

.project-item img {
  filter: none;
  transition: filter 0.3s ease;
}

.project-item:hover img {
  filter: blur(2px) grayscale(100%);
}

.project-overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  color: #2a6f97;
  font-size: 50px;
  padding: 10px;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(10, 10, 10, 0.1764705882);
}

.social-media-logos {
  border-radius: 15px;
  filter: drop-shadow(3px 3px 5px rgba(10, 10, 10, 0.1764705882));
  width: 210px;
  position: relative;
}

html {
  scroll-behavior: smooth;
  text-decoration-color: gray;
}

::selection {
  background-color: #2a6f97;
  color: white;
  border-radius: 2px;
}

body {
  background: linear-gradient(0deg, rgb(1, 79, 134) 0%, rgb(1, 58, 99) 100%);
  margin: 0;
  padding: 0;
}

.contentCV {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 3.125rem;
}

.contentCV__box1 {
  background-color: white;
  border: 0.1875rem solid black;
  padding: 3.9375rem 3.125rem;
}

.contentCV__box1 h1 {
  text-align: center;
}

.contentCV__box1 h3 {
  margin-bottom: 0rem;
}

.contentCV__box1 a {
  background-color: #2a6f97;
  border-radius: 0.8125rem;
  border: 0.125rem solid white;
  box-shadow: 0 0.125rem 0 0.125rem #000;
  color: white;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.contentCV__box1 a:hover {
  background-color: #ffca7a;
  color: #000;
  font-weight: bold;
  transition: all 0.7s;
}

.contentlink {
  padding-bottom: 1.5625rem;
}

.imgCV {
  margin-left: 28%;
  max-width: 100%;
  text-align: center;
}

.contentCV__box2 {
  background-color: #2a6f97;
  border: 0.1875rem solid black;
  padding: 2.625rem 3.125rem;
}

.contentCV__box2 h4 {
  background-color: white;
  border-radius: 0.8125rem;
  border: 0.1875rem solid black;
  padding: 0.625rem 1.25rem;
  width: 70%;
}

.contentCV__box2 p {
  color: white;
  width: 70%;
}

.content {
  margin: 0 auto;
  width: 90%;
}

.content-info {
  display: flex;
  color: white;
}

.content-titles h2 {
  margin-top: -50px;
}

.content-titles p {
  margin-top: -10px;
}

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.container-projects {
  display: flex;
  justify-content: space-around;
}

.box-projects {
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}

.recent-projects-resume {
  width: 30%;
}

.recent-projects {
  text-align: center;
}

.social-media {
  color: #fff;
  padding-top: 20px;
}

.social-media-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.contentPortafolio h1 {
  color: white;
  text-align: center;
}

.boxInfo {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 6.25rem;
  padding-top: 6.25rem;
}

.box {
  display: inline-block;
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  border-radius: 1.875rem;
  overflow: hidden;
  box-shadow: 0.3125rem 0.3125rem 1.875rem rgba(0, 0, 0, 0.3);
  margin: 1.875rem;
}

.box-profile-img {
  filter: blur(0.3125rem);
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.box-profile-img:hover {
  filter: none;
}

.box-description-bk {
  background-color: black;
  border-radius: 1.875rem;
  height: 40%;
  left: -0.3125rem;
  opacity: 0.8;
  position: absolute;
  top: 65%;
  transform: skew(17deg, -7deg);
  width: 108%;
}

.box-description {
  bottom: 4%;
  color: #fff;
  font-size: 3.75rem;
  font-weight: 900;
  left: 4.6875rem;
  position: absolute;
}

.box-description h2 {
  margin: 0rem;
}

.box-btn a {
  background-color: #2a6f97;
  border-radius: 0.8125rem;
  border: 0.125rem solid white;
  bottom: 10%;
  box-shadow: 0 0.125rem 0 0.125rem #000;
  color: #fff;
  padding: 0.625rem 1.25rem;
  position: absolute;
  right: 1.875rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.box-btn a:hover {
  background-color: #012a4a;
  font-weight: bold;
  transform: scale(1.1);
}

.boxInfo p {
  background-color: #003859;
  border-radius: 0.9375rem;
  border: 0.125rem solid black;
  color: white;
  padding: 9.375rem;
  width: 50%;
}

.boxInfo2 {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.boxInfo2 p {
  background-color: #003859;
  border-radius: 0.9375rem;
  border: 0.125rem solid black;
  color: white;
  padding: 9.375rem;
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
