@import '../abstracts/variables';
.contact-content {
  color: $font-color-white;
  display: flex;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  padding-bottom: 70px;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.contact-box h2 {
  color: $font-color-white;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  width: 100%;
  margin-top: 100px;
  margin-bottom:-100px;
}

.contact-form div {
  margin-bottom: 50px;
  display: flex;
}

.contact-form input:not([type="textarea"]) {
  border-radius: 10px;
  border: none;
  flex-grow: 1;
  font-size: 15px;
  height: 40px;
  padding: 8px;
}

.form-sms textarea {
  border-radius: 10px;
  border: none;
  flex-grow: 1;
  font-size: 15px;
  height: 40px;
  padding: 8px;
  min-height: 150px;
}

.button-submit-form {
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.overlay-text-form {
  position: absolute;
  bottom: -8px;
  left: 15%;
  transform: translateX(-50%);
  color: $font-color-white;
  opacity: 0;
  font-size: 18px;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.social-media-overlay:hover .overlay-text-form  {
  opacity: 1;
  filter: $soft-shadow;
  bottom: 58px;
}