html {
  scroll-behavior: smooth;
  text-decoration-color: gray;
}

::selection {
  background-color: #2a6f97;
  color: white;
  border-radius: 2px;
}
body {
  background: linear-gradient(0deg, rgba(1,79,134,1) 0%, rgba(1,58,99,1) 100%);
  margin: 0;
  padding: 0;
}
