@import '../abstracts/variables';
.content {
  margin: 0 auto;
  width: 90%;
}

.content-info {
  display: flex;
  color: $font-color-white;
}

.content-titles h2 {
  margin-top: -50px;
}

.content-titles p {
  margin-top: -10px;
}

.presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}


/*Profile section*/
.box-profile {
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffffff;  
}

.about-me {
  font-size: 25px;
  margin-bottom: 50px;
}

.profile-resume {
  display: flex;
  justify-content: space-around;
}

.profile-resume p {
  padding: 30px;
  width: 60%;
  text-align: justify;
}

/*skills section*/
.skills-list ul {
  display: flex; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.skills-list li {
  margin-right: 20px;
  position: relative;
}

.skills-list li:hover {
  transform: scale(1.2)  ;
  transform: translateY(-16px);
  transition: all 0.1s ease-out;

}

.skills-list img {
  height: auto;
  width: 80px;
}

.overlay-text-skills {
  background-color: #fff;
  border-radius: 5px;
  color: $font-color-black;
  filter: $soft-shadow;
  font-family: 'Courgette';
  font-size: 18px;
  left: 50%;
  opacity: 0; 
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 25px);
  transition: opacity 0.3s ease;
}

.skills-list li:hover .overlay-text-skills {
  opacity: 1; 
}

/*projects section*/
.box-projects {
  margin-top: 150px;
  color: $font-color-white;
}

.recent-projects {
  text-align: center;
}

.social-media {
  color: $font-color-white;
  padding-top: 20px; 
}

.social-media-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

@media (max-width: 480px) {
  .presentation {
    margin-top: 50px;
    margin-bottom: -150px;
  }

  .eyes-container {
    display: none;
  }

  .content-titles {
    display: flex;
    flex-direction: column;
  }

  .content-titles h1 {
    font-size: 30px;
    margin-top: -60px;
    margin-bottom: 15px;
  }

  .content-titles h2 {
    font-size: 20px;
    margin-top: -10px;
  }
  
  .content-titles p {
    margin-top: -10px;
    font-size: 18px;
  }

  .recent-projects-resume h2 {
    font-size: 50px;
  }

  .recent-projects-resume p {
    font-size: 22px;
    width: 302px;
  }

  .container-projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .recent-projects {
    margin-top: 30px;
    display: flex;
  }

  .recent-projects img {
    margin-top: -60px;
    padding: 20px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .presentation {
    margin-top: 50px;
    margin-bottom: -150px;
  }

  .eyes-container {
    display: none;
  }

  .content-titles {
    display: flex;
    flex-direction: column;
  }

  .content-titles h1 {
    font-size: 45px;
    margin-top: -60px;
    margin-bottom: 15px;
  }

  .content-titles h2 {
    font-size: 30px;
    margin-top: -10px;
  }
  
  .content-titles p {
    margin-top: -10px;
    font-size: 20px;
  }

  .recent-projects-resume h2 {
    font-size: 60px;
  }

  .recent-projects-resume p {
    font-size: 25px;
    width: 420px;
  }

  .container-projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .recent-projects {
    margin-top: 30px;
    display: flex;
  }

  .recent-projects img {
    margin-top: -60px;
    padding: 10px;
  }
}

@media (min-width: 769px) {
  .recent-projects-resume {
    width: 30%;
  }

  .container-projects {
    display: flex;
    justify-content: space-around;
  }

  .presentation {
    margin-top: 80px;
  }
}