@mixin efect-appear-top {
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 75px;
  left: 50%;
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out, 0.3s ease-in-out;
  width: 75px;
  z-index: -1;
}

@mixin efect-appear-right {

}

@mixin button-blue-template {
  background-color: #2a6f97;
  border-radius: 13px;
  color: white;
  padding: 15px 33px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  border: none;
}

$value-color: green;