.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-principal {
  width: 350px;
  filter: drop-shadow(3px 3px 5px #0a0a0a2d );
}

.logo-principal:hover {
  transform:scaleX(0.98) ;
  transition: all 0.3s ease;
}

.project-item {
  position: relative;
}

.project-item {
  position: relative;
}

.project-item img {
  filter: none;
  transition: filter 0.3s ease;
}

.project-item:hover img {
  filter: blur(2px) grayscale(100%);
}

.project-overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  color: #2a6f97;
  font-size: 50px; 
  padding: 10px;
  text-align: center;
  text-shadow: 3px 3px 5px #0a0a0a2d ;
}

.social-media-logos {
  border-radius: 15px;  
  filter: drop-shadow(3px 3px 5px #0a0a0a2d );
  width: 210px;
  position: relative;
}