
.nav-principal {
  margin-top: 20px;
}

.nav-principal ul {
  margin-top: -10px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.nav-principal li {
  list-style: none;
}



