h1,h2,h3,h4 {
  font-family: 'Courgette', cursive;
}

h1 {
  font-size: 6rem;
  filter: drop-shadow(3px 3px 5px #0a0a0a2d );
}

h2 {
  font-size: 3.75rem;
  filter: drop-shadow(3px 3px 5px #0a0a0a2d );
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

p,a {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.projects-description {
  font-size: 30px;
  margin-bottom: 50px;
}