@import '../abstracts/variables';


@mixin efect-appear{
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  transition: top 0.3s ease-in-out, 0.3s ease-in-out;
  width: 75px;
  z-index: -1;
}

@mixin button-blue-template {
  background-color: $light-blue;
  border-radius: 13px;
  border: none;
  color: $font-color-white;
  font-size: 20px;
  padding: 15px 33px;
  position: relative;
  text-decoration: none;
}

@mixin box-info-style {
  background-color: #fff;
  border-radius: 15px;
  color: $font-color-black;
  filter: $soft-shadow;
  padding: 40px; /* Ajusta el padding para dispositivos más pequeños */
  width: auto; /* Ajusta el ancho para dispositivos más pequeños */
}


